.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-1{

}

#color{
    color: #289E8A;
}

.main-h6 i {
    background-color:#289E8A;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: .5vmax 0;
    margin-right: 1vmax;
    font-size: 1rem;
    color: #fff;
}

.main-h6{
    display: flex;
    align-items: center;
    font-family: "mukta";
    font-size: 1.1rem;
    -left: 1vmax;

}

.menu{
    position: relative;
    top: 25%;
    right: -5%;
    height: 50px;
    width: 50px ;
    /* background-color: #289E8A; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    display: none;
    /* display: none; */


}

.li{
    margin: .4vmax 0;
    height: 2px;
    width: 18px;
    background-color: blue;
}
.li-1{
    height: 3px;
    width: 9px;
    text-align: left;
}

.overlay{
    position: absolute;
    top: 0;
    z-index: 10000;
    height: 100%;
    width: 90%;
    margin-left: 10%;
    background-color: #289E8A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 00.3s ease-in;
    transform: translateX(100%);
    display: none;
    background-color: #fff;
}

.cross{
    position: absolute;
    z-index: 87654367i;
    background-color: #fff;
    height: 25%;
    /* margin: 10vmax; */
    /* padding-bottom: 15vmax; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10vmax;
    margin-left: 40vmax;
    padding-right: 5vmax;
    display: none;


}
.cross img{
    height: 30px;
    /* background-color: blue; */
    border-radius: 50%;
    box-shadow: 8px 8px 15px  rgba(182, 181, 181, 0.912);
}

.unlimited{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3vmax;
    margin-top: 15vmax;
}
.unlimited h5{
    margin: 6vmax 0;
    /* padding-bottom: 5vmax; */
    font-size: 1.5rem;
}
.unlimited hr{
    height: 2px;
    width: 100%;
    background-color: black;
    color: black;
    opacity: .5;
}
.might{
    /* margin-top: 8vmax; */
}